body{
    background: #FFF5E4;
    margin-top: 80px;
    margin-bottom: 80px;
}

#perf{
    color: dimgray;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
}

#title{
    font-family: 'Fraunces', serif;
    font-size: 25pt;
    margin: 12px auto 12px;
}

#figure{
    width: 300px;
    height: 450px;
    margin: auto;
    position: absolute;
    left: 380px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#text{
    display: inline;
    width: 250px;
    height: 400px;
    background: white;
    padding: 25px;
    margin: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 680px;
}

#descr{
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: dimgray;
}

#price{
    display: inline-block;
    color: dimgray;
    position: relative;
    bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

#promo{
    color: #4B8673;
    display: inline;
    font-family: 'Fraunces', serif;
    font-size: 20pt;
    margin-right: 20px;
}

#add{
    background-color: #4B8673;
    color: white;
    margin-top: 30px;
}